body{
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.spaceBetween{
  display: flex;
  justify-content: space-between;
}
.closeButton{
  float: right;
  margin-top: 0px;
}
.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.div > *{
  margin: .5rem;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flexCol{
      display: flex;
      flex-direction: column;
      align-items: left;
}
.flexCol > *{
  margin-bottom: 0.1rem;
}
.flexRow > * {
  margin-right: 0.5rem;
}
.baseBackground{
    color: white;
    background-color: black;
}
.alternateBackground{
  background-color: #222222;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2rem;
}
.header img{
  width: 4rem;
  height:4rem;
}
.headerLogInButtons{
  font-size: 1rem;
  margin-left: .05rem;
}
.main{
  min-height: 60vh;

}
.smallPadding{
  padding: 1rem;
}
.mediumPadding{
  padding:2rem;
}
.logInSideBar{
  position: absolute;
  right:0px;
  padding-right: 3rem;

  padding-left: 2rem;
  padding-top: .5rem;
  height: 100%;
}
.logInSideBar > div{
  padding-top: .1rem;
}
.inputBlock{
  margin: .2rem;
  margin-bottom: .5rem;
}
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1200px) {
  .main{
    min-height: 67vh;
  }
}
@media screen and (min-width: 1800px) {
  .main{
    min-height: 74vh;
  }
}
